
.import/
export.cfg
export_presets.cfg

# Ignore addons.
addons/

# Ignore generated geometry files.
# geometry/
# unigrnoed for now. Let's see how bloated this will be...

# Ignore Trenchbroom autosave files.
autosave/

#Krita backup files
*.png~

# Things temporary or  using assets I have no rights to use for reference
_TEMP_THEFT_ASSETS/
_LABS/
